 /*Universal Styling*/
 * {box-sizing: border-box;}

 /*STYLING: About Header*/
 .header {
 	margin-bottom: 50px;
 } 

 .header h1 {
 	text-align: center; 
 }


 /*STYLING: About Container*/
 .container {
 	width: 80%;
 	margin: 0 auto; 
 }

/*STYLING: Nested Tags in About Container*/
.image {
	display: inline-block;
	float: left;	 
}

.mypic {
	width: 100%;
}

.column {
	display: inline-block;
	float: left;
	width: 30%;
	padding: 0 20px;
}

.main-text {
	clear: both;
	padding-top: 60px;
}
 
