/*Universal Styling*/

* {box-sizing: border-box;}
 
/*STYLING: About Header*/
.header {
  /* Positioning */
  position: relative;
  top: 10px;
  z-index: 1;

  /* Box-model */
  margin-bottom: 50px;

  /* Typography */

  /* Visual */
  background-color: #ff9933;
} 

.header h1 {
  text-align: center; 
}


/*STYLING: About Container*/
.container {
  width: 80%;
  margin: 0 auto; 
}

/*STYLING: Nested Tags in About Container*/
.image {
  display: inline-block;
  float: left;	 
}

.mypic {
  width: 100%;
}

.column {	
  display: inline-block;
  float: left;
  width: 30%;
  padding: 0 20px;
}

.main-text {
  clear: both;
  padding-top: 60px;	
}

#skill-list {
  margin-left: 50px;
}

/*Typography*/

h1,
h2,
h3 {
  font-family: Futura, Helvetica, Arial, sans-serif;
} 

p,
li {
  font-family: Georgia, Times, 'Times New Roman', serif;
}

.intro p {
  font-family: Futura, Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-weight: 100;
  -webkit-margin-before: 0em;
}

.skills h3 {
  text-align: center;
  text-transform: uppercase;
}


