/* ============================================ */
/* ============================================ */
/*               MAIN CSS STYLESHEET            */
/* ============================================ */
/******************* PAGE.HTML ******************/
/*************** Styling: Section ***************/
/***************** [ CSS Group ] ****************/
/***************** (  Remarks  ) ****************/
/* Order:*/
/* unversal elements in order of being nested and order set from guidelines.*/
/* Very specific items last and have own order within.*/
/* Remember separation of concern: use different classes for different things.*/
/* ============================================ */

/******************* UNIVERSAL ******************/
/****************** Wireframing *****************/
/************ ( Personal Wireframing ) **********/
/* Personal Wreframing */
/* { border: 1px dashed red; }*/
/** { box-sizing: border-box; }  /*Not needed because of bootsrap.min*/

/************** Styling: Jumbotron **************/
.jumbotron {
  padding-top: 7em;              /* Own in A1#6 */
 }

/****************** INDEX.HTML ******************/
/************** Styling: Carousel ***************/

.container-fluid {
  padding-left: 0;                      /* A1#8 */
  padding-right: 0;                     /* A1#8 */
 }

/******************* ABOUT.HTML *****************/
/****** (  Linked by the "about_page.css" ) *****/
/************* Styling: About Header ************/ 
.header {
  /* Positioning */
  /*position: relative;          /* Own in A1#4 */
  /*top: 38px;                   /* Own in A1#6 */
  
  /* Box-model */
  margin-bottom: 50px;                  /* A1#4 */
  padding-top: 7em;              /* Own in A1#6 */

  /* Typography */

  /* Visual */
  background-color: #ff9933;    /* Own in A1#4  */
} 

.header h1 {
  text-align: center;                   /* A1#4 */
  padding: 20px 0;               /* Own in A1#5 */
}

/******************* CONTACT.HTML ***************/
/************** Styling: contacpage *************/
.contactpage {
  background: url("../img/webpiccontactheader1.jpg") no-repeat center top; /* A1#5 */
  background-size: cover;                                       /* A1#5 */  
 }

 /******************* FAQ.HTML ******************/
/************** Styling: faqpage ****************/
.faqpage {
  background: url("../img/webpicfaqheader1.jpg") no-repeat center top; /* A1#8 */
  background-size: cover;               /* A1#8 */  
 }

/*********** Styling: Navigation Bar ************/ 
.nav {
  /* Positioning */
  position: fixed;                      /* A1#6 */
  top: 0;                               /* A1#6 */
  z-index: 100;                  /* Own in A1#6 */

  /* Box-model */
  width: 100%;                          /* A1#6 */

  /* Visual */
  background-color: #3E3A00; /* A1#6 Changed  from black to own */
  opacity: 0.7;
  filter: alpha(opacity=70); /* For IE8 and earlier */
  box-shadow: 0 1px 2px #ffb380, inset 0 1px 0 #fff; /*Own A1L6 */
}

.nav ul {
  /* Positioning */
  /* Box-model */
  float: right;                         /* A1#6 */
  margin: 0;                            /* A1#6 */
  /* Typography */
  /* Visual */
  /* Misc */
}

.nav ul li {
  /* Positioning */
  /* Box-model */
  display: inline-block;                /* A1#6 */
  padding: 20px 10px 20px;              /* A1#6 */

}

.nav ul li a {
  /* Positioning */
  /* Box-model */
  /* Typography */
  text-transform: uppercase;            /* A1#6 */
  letter-spacing: 0.05em;               /* A1#6 */
  /* Visual */
  color: #ffb380;                       /* A1#6 */
  border: 1px double #3E3A00;    /* Own in A1#7 */
  border-style: double none;     /* Own in A1#7 */ 
  /* Misc */
  transition: color 600ms;              /* A1#6 */
  -webkit-transition: color 600ms;      /* A1#6 */
}

.nav a:hover {
  color: #ff0;                          /* A1#6 */
  text-decoration: none;                /* A1#6 */
  border: 1px double #696200;    /* Own in A1#7 */
  border-style: double none;     /* Own in A1#7 */  
}

/*********** Styling: Carousel ******************/ 
.carousel-caption {
  /* Box-model */
  padding-top: 5em;              /* Own in A1#8 */
  /* Typography */
  /* Visual */  
}

.carousel-caption h1 {
  /* Box-model */
  /* Typography */               
  /*font-size: 4em;     /*DELETED/* Own in A1#8 */
  /* Visual */
  color: #696200;                /* Own in A1#8 */
  font-family: 'Indie Flower', cursive; /* Own in A1#8 */
}

.carousel-caption p {
  /* Box-model */
  margin: 10px 0;                /* Own in A1#8 */
  padding: 1em 0 4em 0;          /* Own in A1#8 */
  /* Typography */            
  /*font-size: 2em;     /*DELETED/* Own in A1#8 */
  /* Visual */
  color: #696200;                /* Own in A1#8 */
}

/*********** BORDERS ****************************/ 
/*********** Styling: ProjectBorder *************/ 
.projectborder {                 /* Own in A1#9 */
  /* Box-model */
  padding: 10px;                 /* Own in A1#5 */
  margin: 10px;                  /* Own in A1#5 */
  
  /* Visual */
  background-color: #f5f5f5;     /* Own in A1#5 */
  border: 5px solid #696200;     /* Own in A1#5 */
  border-radius: 10px;           /* Own in A1#5 */
}


/* Own in A1#9 : will decide later to delet or use*/ 
  /* Positioning */
  /* Box-model */
  /* Typography */
  /* Visual */
  /* Misc */

/***** Styling: Individual Concept Items  *******/
.indvconcept {}                  /* Own in A1#9 */        

/*********** Styling: Individual Projects  ******/ 
.indvproject {                   /* Own in A1#9 */
  /* Positioning */
  /* Box-model */
  padding: 5px;                  /* Own in A1#9 */
  margin: 5px;                   /* Own in A1#9 */
  
  /* Typography */
  text-align: center;            /* Own in A1#9 */

  /* Visual */
  background-color: #f5f5f5;     /* Own in A1#9 */
  border: 3px solid #696200;     /* Own in A1#9 */
  border-radius: 5px;            /* Own in A1#9 */
  /* Misc */
}

/***** Styling: Individual Contacts Items  ******/ 
.indvcontact { }                 /* Own in A1#9 */

/***** Styling: Individual About Items  *********/
.indvabout1 {}                   /* Own in A1#9 */
.indvabout2 {}                   /* Own in A1#9 */ 

/*********** Styling: Glyphicon Tags ************/ 
.col-md-4 span {
  /* Positioning */
  /* Box-model */
  margin: 2px 5px;               /* Own in A1#7 */
  padding: 5px;                  /* Own in A1#7 */
  /* Typography */               /* Own in A1#7 */
  font-size: 30px;
  /* Visual */
  background-color: #f5f5f5;     /* Own in A1#7 */
  border: 5px solid #f5f5f5;     /* Own in A1#7 */
  border-radius: 5px;            /* Own in A1#7 */
  /* Misc */
  transition: color 600ms;       /* Own in A1#7 */
  -webkit-transition: color 600ms;/* Own in A1#7 */
}

.col-md-4 span:hover {
  /* Positioning */
  /* Box-model */
  /* Typography */
  /* Visual */
  color: #ffb380;                /* Own in A1#7 */
  border: 5px solid #696200;     /* Own in A1#7 */
  /*border-radius: 5px;          /* Own in A1#7 */
  background-color: #696200;     /* Own in A1#7 */
  opacity: 0.7;                  /* Own in A1#7 */
  filter: alpha(opacity=70); /* For IE8 and earlier */
  /* Misc */   
}

/*********** Styling: Accordion ******************/

#headingpanel {
  background-color: #3E3A00;      /* Own in A1#7 */
}

.panel-title {
  font-family: 'Bangers', cursive;/* Own in A1#7 */
  color: white;                   /* Own in A1#7 */
}

.panel-body {
  font-family: 'Indie Flower', cursive; /* Own in A1#7 */
}

.panel-title span {
  padding-right: 10px;            /* Own in A1#7 */
}

/***************** [ Typography ] ****************/

#conceptcontainer h2 {
  font-family: 'Indie Flower', cursive; /* Own in A1#9 */
}

#workrowcontainer h2 {
  font-family: 'Indie Flower', cursive; /* Own in A1#9 */
  text-align: center;             /* Own in A1#9 */
}

#contactcontainer h2 {}           /* Own in A1#9 */
#contactcontainer p {}            /* Own in A1#9 */

#aboutcontainer h2 {}             /* Own in A1#9 */
#aboutcontainer p {}              /* Own in A1#9 */

/************ [ Positioning ] ********************/
.jumbotron {
  position: static;               /* Own in A1#7 */ 
  clear: both;                    /* Own in A1#7 */  
}

/************ [ Background and Colours] **********/
body {
  background-color: rgba(186, 173, 11, 1);/*A1#5 */
  color: #34595e;                        /* A1#5 */
}

.jumbotron h1 {
  color: #696200;                        /* A1#5 */
  text-shadow: -1px 0 #ffb380, 0 1px #ffb380, 1px 0 #ffb380, 0 -1px #ffb380; /* Own A1#8 */
  /*text-shadow: 0 0 5px rgba(102,41,0,.8);  /* A1#5 */
}

.jumbotron p {
  color: #696200;                        /* A1#5 */
  text-shadow: -1px 0 #ffb380, 0 1px #ffb380, 1px 0 #ffb380, 0 -1px #ffb380; /* Own A1#8 */
 }

/******************** [ Visual] ******************/


/* ============================================ */
/* ============================================ */
/* Good CSS Guide */
/**** (CSS not used. Kept for reference. ) ******/
/* ============================================ */
.selector,
.selector-secondary,
.selector[type="text"] {
  padding: 15px;
  margin-bottom: 15px;
  background-color: rgba(0,0,0,.5);
  box-shadow: 0 1px 2px #ccc, inset 0 1px 0 #fff;
}

/* STYLE GUIDE AND ORDER */
.declaration-order {
  /* Positioning */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

  /* Box-model */
  display: block;
  float: right;
  width: 100px;
  height: 100px;

  /* Typography */
  font: normal 13px "Helvetica Neue", sans-serif;
  line-height: 1.5;
  color: #333;
  text-align: center;

  /* Visual */
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  border-radius: 3px;

  /* Misc */
  opacity: 1;
}


/* ============================================ */
/* ============================================ */
/*               COLOUR ASSIGMENTS              */
/* ============================================ */
/****How i want to use colour assigments****/
@brand-primary: darken(#428bca, 6.5%); // #337ab7
@brand-success: #5cb85c;
@brand-info:    #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger:  #d9534f;
/*Use any of these color variables as they are or reassign them to more meaningful variables for your project.*/

/*Use as-is*/
.masthead {
  background-color: @brand-primary;
}

/*/ Reassigned variables in Less*/
@alert-message-background: @brand-info;
.alert {
  background-color: @alert-message-background;
}