/* ========================================================================== */
/* ========================================================================== */
/* MAIN CSS STYLESHEET                                                        */
/* ========================================================================== */
/* ========================================================================== */

/******************************************************************************/
/**
 * Example comment.
 * I am a long-form comment. I describe, in detail, the CSS that follows. I am
 * such a long comment that I easily break the 80 character limit, so I am
 * broken across several lines.
 */
 /******************************************************************************/

/**
 * See original TOC for grouping. Looks beterr wrapper andheaders.
 */

/**
 * TABLE OF CONTENTS 
 * =========================================================================== *\
 *
 * UNIVERSAL-SECTION
 * Wireframing.................Globally-available variables and config.
 * Positioning.................Globally-available variables and config.
 * Box-model...................Globally-available variables and config.
 * Typography..................Globally-available variables and config.
 * Background-and-colours......Globally-available variables and config.
 *
 * COMPONENTS
 * nav-section...............Useful mixins.
 *
 * COMPONENTS
 * carousel-section........A level playing field.
 * Box-sizing...........Better default `box-sizing`.
 *
 * UNIQUE-SECTIONS
 * Headings.............H1–H6 styles.
 *
 * OBJECTS
 * Wrappers.............Wrapping and constraining elements.
 *
 * COMPONENTS
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 * Buttons..............Button elements.
 *
 * TRUMPS
 * Text.................Text helpers.
 */ 


/*----------------------------------------------------------------------------*\
    #UNIVERSAL-SECTION
\*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*\
    #wireframing
\*----------------------------------------------------------------------------*/
/**
 * Personal Wireframing.
 */
/* { border: 1px dashed red; }                  */

/*----------------------------------------------------------------------------*\
    #positioning
\*----------------------------------------------------------------------------*/

body {
  position: relative;                                         /* Own in A1#10 */
}

/*----------------------------------------------------------------------------*\
    #box-model
\*----------------------------------------------------------------------------*/

.anchor {
  padding-top: 50px;                                          /* Own in A1#10 */
}

.container-fluid {
  padding-left: 0;                                                    /* A1#8 */
  padding-right: 0;                                                   /* A1#8 */ 
 }

.jumbotron {
  /* Box-model */
  margin-left: .5em;                                                 /* A1#10 */
  margin-right: .5em;                                                /* A1#10 */
  padding-left: .5em;                                                 /* A2#1 */
  padding-right: .5em;                                                /* A2#1 */
  /* Visual */
  background-size: cover;                                      /* Own in A1#9 */  
}

.container--wrapper {
  /* Positioning */
  /* Box-model */
  padding: .5em;                                                      /* A2#5 */
  margin: .5em;                                                       /* A2#5 */
  
  /* Typography */
  /* Visual */
  background-color: transparent;                                      /* A2#5 */
  border: 2px solid transparent;                                      /* A2#5 */
  border-radius: 4px;                                                 /* A2#5 */
  
  /* Misc */
}

.container--border {       
  /* Visual */
  background-color: #f5f5f5;                                          /* A2#5 */
  border: 2px solid #696200;                                          /* A2#5 */  
}

.img-responsive {
  border-radius: 3px;                                                /* A1#10 */
}

/*----------------------------------------------------------------------------*\
    #typography
\*----------------------------------------------------------------------------*/
h1 { 
  font-size: 4em;                                              /* Own in A1#9 */
  font-family: 'Bangers', cursive;                             /* Own in A1#5 */
  }

h2 { 
  font-family: 'Bangers', cursive;                                    /* A2#5 */
  font-size: 3em;                                              /* Own in A1#9 */         
  text-transform: uppercase;                                         /* A1#10 */
  text-align: center;                                                /* A1#10 */
}

h3 { font-size: 2em; }                                         /* Own in A1#9 */                                       

p { 
  font-size: 1em;                                              /* Own in A1#9 */
  font-family: Futura, Helvetica, Arial, sans-serif;                  /* A1#5 */
  text-align: justify;                                         /* Own in A1#9 */
  -webkit-margin-before: 0em;                                         /* A1#5 */
}

.jumbotron p,
#contact > p {
  font-family: 'Indie Flower', cursive;                        /* Own in A1#8 */ 
 }

/*----------------------------------------------------------------------------*\
    #background-and-colours
\*----------------------------------------------------------------------------*/
body {
  background-color: rgba(186, 173, 11, 1);                             /*A1#5 */
  color: #34595e;                                                     /* A1#5 */
}

h2 { color: #696200; }                                               /* A1#10 */

.jumbotron, 
#contact {
  color: #ffb380;                                                     /* A1#5 */
  text-shadow: -1px 0 #696200, 0  1px #696200, 
                1px 0 #696200, 0 -1px #696200;                    /* Own A1#8 */  
}

.under-construction {
  /* Positioning */
  /* Box-model */
  /* Visual */
  opacity: 0.5;                                                      /* A1#10 */
  filter: alpha(opacity=50);                           /* For IE8 and earlier */  
}

/*----------------------------------------------------------------------------*\
    #COMPONENTS
\*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*\
    #nav-section
\*----------------------------------------------------------------------------*/

nav {
  /* Positioning */
  /* Box-model */
  /* Visual */
  background-color: #3E3A00;                /* A1#6 Changed from black to own */
  opacity: 0.7;
  filter: alpha(opacity=70);                           /* For IE8 and earlier */
  box-shadow: 0 1px 2px #ffb380, inset 0 1px 0 #fff;               /*Own A1L6 */
}

.nav > li { padding: 0 10px 0 0; }                                    /* A1#10*/

.nav > li > #navalink {
  /* Positioning */
  /* Box-model */
  /* Typography */
  text-transform: uppercase;                                          /* A1#6 */
  letter-spacing: 0.05em;                                             /* A1#6 */
  /* Visual */
  color: #ffb380;                                                     /* A1#6 */
  /* Misc */
          transition: color 600ms;                                    /* A1#6 */
  -webkit-transition: color 600ms;                                    /* A1#6 */
}

.nav > li > #navalink:hover {
  color: black;                                                      /* A1#10 */
  background-color: #ffb380;                                         /* A1#10 */
  border-radius: 3px;                                                /* A1#10 */  
}

.projectName a {
  /* Box-model */
  padding: 0 10px;                                                    /* A1#10*/
  /* Typography */
  text-transform: uppercase;                                         /* A1#10 */
  font-weight: bold;                                                 /* A1#10 */
  /* Visual */
  color: #ffb380;                                                    /* A1#10 */
}

#brand-image {
  padding: 5px 20px;                                                 /* A1#10 */
}

/*----------------------------------------------------------------------------*\
    #carousel-section
\*----------------------------------------------------------------------------*/
.carousel-caption h1 {
  /* Box-model */
  /* Typography */               
  text-align: center;                                          /* Own in A1#9 */
  /* Visual */
  color: #696200;                                              /* Own in A1#8 */  
}

.carousel-caption p {
  /* Box-model */
  margin: .5em 0;                                              /* Own in A1#8 */
  padding: .5em 0 7em 0;                                       /* Own in A1#8 */
  /* Typography */
  text-align: center;                                          /* Own in A1#9 */           
  /* Visual */
  color: #696200;                                              /* Own in A1#8 */
}

@media (max-width: 480px) {
  .carousel-caption h1 {
    /* Box-model */
    /* Typography */               
    font-size: 2em;                                            /* Own in A1#9 */
    /* Visual */
  }

  .carousel-caption p {
    /* Box-model */
    padding: .5em 0 .5em 0;                                    /* Own in A1#8 */
    /* Typography */               
    font-size: 1em;                                            /* Own in A1#9 */
    /* Visual */
  }
}

/*----------------------------------------------------------------------------*\
    #accordion-section
\*----------------------------------------------------------------------------*/

#headingpanel {
  background-color: #3E3A00;                                   /* Own in A1#7 */
}

.panel-title {
  font-family: 'Bangers', cursive;                             /* Own in A1#7 */
  color: white;                                                /* Own in A1#7 */
}

.panel-body {
  font-family: 'Indie Flower', cursive;                        /* Own in A1#7 */
}

.panel-title span {
  padding-right: 10px;                                         /* Own in A1#7 */
}

/*----------------------------------------------------------------------------*\
    #modal-section
\*----------------------------------------------------------------------------*/
.learn-more {
  /* Positioning */
  float: left;                                                        /* A2L3 */
  /* Box-model */
  margin: .5em 1em;                                                   /* A2L3 */
  width: 48%;                                                         /* A2L3 */

  /* Typography */
  text-align: left;                                                   /* A2L3 */
}

.modal-button {
  /* Positioning */
  float: right;                                                       /* A2#3 */
  /* Box-model */
  padding: 15px;                                                      /* A2#3 */
  margin: 1em 1em .5em;                                               /* A2L3 */
}

#modalembed {
  /* Box-model */
  height: 500px;                                                      /* A2L3 */
  width: 100%;                                                        /* A2L3 */
  padding: 10px;                                                      /* A2L3 */
  margin: 5px;                                                        /* A2L3 */  
}

/*----------------------------------------------------------------------------*\
    #footer-section
\*----------------------------------------------------------------------------*/

.footer-box {
  /* Positioning */
  float: left;                                                       /* A2L1 */
  /*Box Model*/  
  padding: 0 5px;                                                    /* A2L1 */
  margin: 0 5px;                                                     /* A2L1 */
}


/*----------------------------------------------------------------------------*\
    #parallax-section
\*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*\
    #contact-page-background
\*----------------------------------------------------------------------------*/

#contact {
  /* Background picture                         */
  background-image: url("../img/webpiccontactheader1.jpg");          /* A1L10 */
  /* Fixed position while page scrolls onwards. */
  background-attachment: fixed;                                      /* A1L10 */
  /* Have the img cover the whole page.         */
  background-size: cover;                                            /* A1L10 */
  padding: .5em;                                                     /* A2#1  */
  padding-top: 50px;                                                 /* A2#1  */  
}

.form-control {
  /*Box Model*/  
  width: 80%;                                                        /* A2#2  */
}

/*----------------------------------------------------------------------------*\
    #faq-page-background
\*----------------------------------------------------------------------------*/
#faq {
  /* Background picture                         */
  background-image: url("../img/webpicfaqheader1.jpg");               /* A2#3 */  
}

/*----------------------------------------------------------------------------*\
    #about-page-background
\*----------------------------------------------------------------------------*/
#about {
  /* Background picture                         */
  background-image: url("../img/webpicaboutheader1.jpg");             /* A2#3 */
  /* Fixed position while page scrolls onwards. */
  background-attachment: fixed;                                       /* A2#3 */
  /* Have the img cover the whole page.         */
  background-size: cover;                                            /* A2#3  */
  /*might need moz/o/safari webkit kit          */  
}


/*----------------------------------------------------------------------------*\
    #CUSTOM-SECTION
\*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*\
    #page-section
\*----------------------------------------------------------------------------*/
.pagesection {                                                /* Own in A1#10 */
  /* Box-model */
  padding: .5em;                                              /* Own in A1#10 */
  margin: .5em;                                               /* Own in A1#10 */
  
  /* Visual */
  background-color: #f5f5f5;                                  /* Own in A1#10 */
  border: 3px solid #696200;                                  /* Own in A1#10 */
  border-radius: 6px;                                         /* Own in A1#10 */  
}

/*----------------------------------------------------------------------------*\
    #UNIQUE-SECTIONS
\*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*\
    #page-jumbotrons
\*----------------------------------------------------------------------------*/

/*#aboutpagejumbo { 
  background: url("../img/webpicaboutheader1.jpg") no-repeat center top; } 
                                                                      /* A1#9 */ 
#aboutpagejumbo { background-color: transparent; }                    /* A2#3 */

#workpagejumbo { 
  background: url("../img/webpicworkheader1.jpg") no-repeat center top; 
  }                                                                  /* A1#10 */

/*#faqpagejumbo { 
  background: url("../img/webpicfaqheader1.jpg") no-repeat center top; 
  }                                                                   /* A1#8 */

#faqpagejumbo { background-color: transparent; }                      /* A2#3 */

/*----------------------------------------------------------------------------*\
    #glyphicon-tags
\*----------------------------------------------------------------------------*/
/*********** Styling: Glyphicon Tags ************/ 
.col-md-4 span {
  /* Positioning */
  /* Box-model */
  margin: 2px 5px;                                             /* Own in A1#7 */
  padding: .5em;                                                      /* A2#2 */
  /* Typography */                                             /* Own in A1#7 */
  font-size: 1em;                                                     /* A2#2 */
  /* Visual */
  background-color: transparent;                                      /* A2#2 */
  border: 1px solid transparent;                                      /* A2#2 */
  border-radius: 10px;                                                /* A2#2 */
  /* Misc */
          transition: color 600ms;                             /* Own in A1#7 */
  -webkit-transition: color 600ms;                             /* Own in A1#7 */
}

.col-md-4 span:hover {
  /* Positioning */
  /* Box-model */
  /* Typography */
  /* Visual */
  color: #ffb380;                                              /* Own in A1#7 */
  border: 1px solid #696200;                                   /* Own in A1#7 */
  border-radius: 10px;                                         /* Own in A1#7 */
  background-color: #696200;                                   /* Own in A1#7 */
  opacity: 0.7;                                                /* Own in A1#7 */
  filter: alpha(opacity=70);                           /* For IE8 and earlier */
  /* Misc */   
}


/*----------------------------------------------------------------------------*\
    #WRAPPERS
\*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*\
    #contact-page-section
\*----------------------------------------------------------------------------*/
#page-section--contact {
  /* Positioning */
  /* Box-model */
  /* Typography */
  /* Visual */ 
  color: #ffb380;                                                     /* A2#2 */  
  background-color: transparent;                                      /* A2#2 */
  text-shadow: -1px 0 #696200, 0  1px #696200, 
                1px 0 #696200, 0 -1px #696200;                        /* A2#2 */  
  /* Misc */   
  }    

/*----------------------------------------------------------------------------*\
    #EXAMPLES-SECTION
\*----------------------------------------------------------------------------*/

/**
 * TABLE OF CONTENTS 
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 *
 * TOOLS
 * Mixins...............Useful mixins.
 *
 * GENERIC
 * Normalize.css........A level playing field.
 * Box-sizing...........Better default `box-sizing`.
 *
 * BASE
 * Headings.............H1–H6 styles.
 *
 * OBJECTS
 * Wrappers.............Wrapping and constraining elements.
 *
 * COMPONENTS
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 * Buttons..............Button elements.
 *
 * TRUMPS
 * Text.................Text helpers.
 */ 

/* Order:*/
/* unversal elements in order of being nested and order set from guidelines.*/
/* Very specific items last and have own order within.*/
/* Remember separation of concern: use different classes for different things.*/
/* Positioning */
/* Box-model */
/* Typography */
/* Visual */
/* Misc */

/*----------------------------------------------------------------------------*\
    #SECTION-TITLE
\*----------------------------------------------------------------------------*/

/**
 * Example comment.
 * I am a long-form comment. I describe, in detail, the CSS that follows. I am
 * such a long comment that I easily break the 80 character limit, so I am
 * broken across several lines.
 */

